* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

html {
    overflow-x: hidden;
}

header .container {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #5781cf;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 16px;
    color: #fff;
}

header h1, nav li {
    margin: auto 32px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.menu {
    background-color: #5781cf;
    padding: 16px 0;
    display: inline;
    text-decoration: none; 
}

.menu > li {
    list-style: none;
    display: inline;
    font-size: 16px;
    justify-content: space-between;
    text-transform: uppercase;
}

.menu > li a {
    text-decoration: none;
    color: #fff;
}

.container-flex {
    display: flex;
}

#sobre-loja h2 {
    color: #5781cf;
    border-bottom: solid 2px #5781cf;
    margin-bottom: 16px;
}

#sobre-loja img {
    max-width: 400px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

.price {
    color: black;
    font-size: 20px;
}

.itens {
    vertical-align: center;
}

.container h2 {
    color: #5781cf;
    font-size: 24px;
    border-bottom: solid 2px #5781cf;
    margin-bottom: 16px;
    flex-wrap: wrap;
}

.container h4 {
    color: #5781cf;
    font-size: 20px;
    margin-bottom: 16px;
}

.secao {
    display: block;
}

.produto {
    padding: 8px;
    display: block;
}

.price del {
    color: #ccc;
    font-size: 14px;
    text-decoration: line-through;
}

.produto img {
    height: 250px;
}

.itens {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    place-self: stretch;
    grid-template-rows: auto;
    column-gap: 1%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #36e091;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

@media screen and (max-width: 766px) {
    #sobre-loja img {
        max-width: 100%;
    }

    #sobre-loja p, #sobre-loja h2, .secao h2 {
        margin: 16px;
    }

    .container {
        display: block;
        margin: auto;
    }

    .secao {
        display: block;
    }

    .itens {
        grid-template-columns: repeat(2, 48%);
        column-gap: 1%;
        row-gap: 5%;
    }

    header .container {
        flex-direction: column;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
        margin: auto 24px;
    }

}